.robot-container {
}

.robot-face-shape {
}

.robot-eye-left {
}

.robot-eye-right {
}

.robot-ear-left {
}

.robot-ear-right {
}

.robot-nose {
}

.robot-teeth {
}

.robot-tooth {
}

.robot-hair-style {
}

.robot-hair-one {
}

.robot-hair-two {
}

.robot-hair-three {
}
