.legal-header {
  background-color: #e2e2e2;
  padding: 30px;
  margin-top: 60px;
  width: 100%;
}

.legal-header h1 {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

main {
}

section {
  display: flex;
  gap: 30px;
  position: relative;
  border-bottom: 1px solid grey;
  padding: 30px;
  max-width: 900px;
  margin: 0 auto;
  color: white;
}

.section-label {
  width: 100%;
  background-color: #2b2d3b;
  height: max-content;
  padding: 10px 16px;
}

.document-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 600px;
}

.document-content p {
  line-height: 28px;
}

.document-content ol {
  margin: 0;
  padding-left: 40px;
}

.document-content li {
  line-height: 28px;
}

footer {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #e2e2e2;
  padding: 0 30px;
  min-height: 70px;
}

.footer-content {
  width: 100%;
  max-width: 900px;
  display: flex;
  gap: 50px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.agree-btn {
  padding: 10px 16px;
  font-weight: bold;
  background-color: blueviolet;
  outline: none;
  border: none;
  color: white;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.agree-btn:disabled {
  background-color: grey;
  color: black;
  cursor: not-allowed;
}
