* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #21222c;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  max-width: 70%;
  margin: 0 auto;
}

header.exercise-header {
  min-height: 60px;
  background-color: black;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 10;
}

.top-nav {
  width: 900px;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  height: 100%;
}

.top-nav ul {
  display: flex;
  list-style-type: none;
  gap: 30px;
  height: 100%;
  align-items: center;
}

.top-nav a {
  color: white;
  padding: 6px 12px;
  border: 1px solid #da5252;
  border-radius: 6px;
  text-decoration: none;
  display: flex;
  gap: 12px;
}

.top-nav a:hover {
  background-color: #da5252;
}

.top-nav .back-button a {
  border-color: white;
}

.top-nav .back-button a:before {
  content: '\2190';
}

.top-nav .back-button a:hover {
  background-color: white;
  color: black;
}

.exercise {
  padding: 30px;
  border: 1px solid gray;
  border-radius: 30px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.exercise h3 a {
  text-decoration: none;
  color: white;
  border-bottom: 1px solid white;
}

.exercise p {
  line-height: 24px;
}
